{% extends 'base.html.twig' %}
{% block title %}List images{% endblock %}
{% block body %}
    <h1>Licensed Images list</h1>
    <div class="form-group col-xs-6">

        <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input id="myInput" onkeyup="search()" type="text" class="form-control" placeholder="Search For names" />
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>                <th>Name</th>

                <th>Date Creation</th>
                <th>Days allowed</th>
                <th>Preview</th>

                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% else %}
                    <th>Details</th>
                {% endif %}


            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.name }}</td>

                <td>{{ image.DaysAllowed }}</td>
                <td>{% if image.dateCreation %}{{ image.dateCreation|date('Y-m-d') }}{% endif %}</td>

                <td><img src='{{ image.deeplink }}'  style="width: 30px;height: 30px;"></td>

                {% if is_granted('ROLE_ADMIN') %}

                    <td>
                            <a href="{{ path('image_show', { 'id': image.id }) }}"  class="glyphicon glyphicon-move"></a>
                            <a href="{{ path('image_edit', { 'id': image.id }) }}"class="glyphicon glyphicon-edit"></a>
                    </td>

                    {% else %}
                        <td>
                             <a href="{{ path('image_show', { 'id': image.id }) }}"><span class="glyphicon glyphicon-new-window"> </span></a>

                        </td>

                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <ul>
        <a class="btn btn-primary" href="{{ path('image_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Add  </a>
    </ul>
{% endif %}

{% endblock %}
