{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}
{% block body %}
    <h1>User Management</h1>
    <div class="form-group col-xs-6">

        <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input id="myInput" onkeyup="search()" type="text" class="form-control" placeholder="Search For Firstname" />
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Username</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{% for a in  user.roles %}
                        {% if  a  in 'ROLE_USER'  %}
                            USER
                        {% else %}
                            ADMIN
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.username }}</td>

                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}"  class="glyphicon glyphicon-move"></a>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}"class="glyphicon glyphicon-edit"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul type="none">
        <li>
            <a class="btn btn-primary" href="{{ path('user_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Add  </a>
        </li>
    </ul>
    {% block javascripts %}
        <script src="{{ asset('public/js/index.js') }}"></script>
    {% endblock %}
{% endblock %}
